.get-quote-btn {
	background-color: #6f7077;
	color: white;
	padding: 1rem;
	border-radius: 10px;
	border: 1px solid #000000a5;
}

@media screen and (min-width: 768px) {

	.get-quote-btn:hover {
		scale: 1.05;
		border: 0.25px solid #00000067;
	}
}
