@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Zen Kaku Gothic New', sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	scrollbar-width: none;
	color: black;
	background-color: white;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

@media screen and (max-width: 576px) {
	#root {
		max-width: 576px !important;
	}
}
@media screen and (max-width: 450px) {
	#root {
		max-width: 450px !important;
	}
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

svg {
	max-width: 4rem !important;
	max-height: fit-content !important;
	z-index: 2000;
}

a {
	text-decoration: none;
	color: inherit;
}

.arrow-icon-btn {
	margin-top: 2rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	position: absolute;
	bottom: 2rem;

	svg {
		fill: white;
		width: 3rem;
		height: 3rem;
	}
}

@media screen and (max-width: 576px) {
	.arrow-icon-btn {
		display: none;
	}
}

/* WebKit (Safari) */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	/* Add any specific WebKit styles here */
}

/* Firefox */
@-moz-document url-prefix() {
	/* Add any specific Firefox styles here */
}

/* Opera */
@media not all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
	/* Add any specific Opera styles here */
}
