nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: white;
	z-index: 1000;
	padding: 0.5rem;
	position: absolute;

	button {
		margin-right: 1rem;
	}
	h1 {
		margin: 0;
		padding: 0rem;
		line-height: 32px;
	}
}

@media screen and (max-width: 576px) {
	nav {
		display: none;
	}
}

.not-home-nav {
	background-image: url('../images/tankless-hotwater-landscape.jpg');
	/* background-position-y: center; */
	background-position-y: top;
	background-size: cover;
	position: relative !important;
}

.home-nav {
	background-color: #537076ce;
}

.nav-brand-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 2rem;

	img {
		max-height: 90px;
		margin-right: 1rem;
	}

	.brand-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		text-align: left;
		text-wrap: nowrap;

		span {
			margin: 0rem;
			font-size: 28px;
		}
	}
}

.nav-links-container {
	display: flex;
	/* justify-content: center; */
	justify-content: flex-end;
	align-items: center;
	width: 60%;
	margin-right: 2rem;
	font-size: 18px;
	a {
		margin-bottom: 1rem;
		/* transition: 1s ease-in; */
		color: white;
		text-decoration: none;
		padding: 1rem;

		&:hover {
			width: min-content;
			border-bottom: 2px solid rgba(255, 255, 255, 0.248);
		}
	}
}

.services-dropdown {
	z-index: 1000;

	&:hover {
		& .services-dropdown-content {
			display: flex;
		}
	}

	.nav-dropdown-down-icon {
		margin-left: 0.5rem;
	}

	p {
		transition: 1s ease-in;
		color: white;
		text-decoration: none;
		padding: 0rem 1rem;
	}
}
.services-dropdown-content {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(#302e33, #2e2b30, rgba(0, 0, 0, 0.811), rgba(0, 0, 0, 0.811));
	/* background-color:  rgba(0, 0, 0, 0.619); */
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	transition: 1s ease-in-out;
	cursor: pointer;
	z-index: 1000;
	border-radius: 0px 0px 10px 10px;

	div {
		padding: 1rem;
	}
}

.active-nav-link a {
	border-bottom: 2px solid white !important;
}
