nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: white;
	z-index: 1000;
	padding: 0.5rem;
	position: absolute;

	button {
		margin-right: 1rem;
	}
	h1 {
		margin: 0;
		padding: 0rem;
		line-height: 32px;
	}
}

@media screen and (max-width: 576px) {
	nav {
		display: none;
	}
}

.not-home-nav {
	background-image: url('../images/furnace-repair.jpeg');
	background-position-y: top;
	background-size: cover;
}

.home-nav {
	background-color: #537076ce;
}

.nav-brand-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 2rem;

	img {
		max-height: 90px;
		margin-right: 1rem;
	}

	.brand-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		text-align: left;
		text-wrap: nowrap;

		h2 {
			margin: 0rem;
		}
	}
}

.nav-links-container {
	display: flex;
	/* justify-content: center; */
	justify-content: flex-end;
	align-items: center;
	width: 60%;
	margin-right: 2rem;
	a {
		margin-bottom: 1rem;
		transition: 1s ease-in-out;
		color: white;
		text-decoration: none;
		padding: 1rem;

		&:hover {
			width: min-content;
			border-bottom: 2px solid rgba(255, 255, 255, 0.248);
		}
	}
}

.active-nav-link a {
	border-bottom: 2px solid white !important;
}
