nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: white;
	z-index: 1000;
	padding: 0.5rem;

	button {
		margin-right: 1rem;
	}
}

.not-home-nav {
	background-image: url('../images/furnace-repair.jpeg');
	background-position-y: top;
	background-size: cover;
}

.home-nav {
	background-color: #537076;
}

.nav-brand-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 2rem;

	img {
		max-height: 90px;
		margin-right: 1rem;
	}

	
	.brand-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		text-align: left;
		text-wrap: nowrap;
		
		h2 {
			margin: 0rem;
		}

	}
}

.nav-links-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	margin-right: 2rem;
	a {
		color: white;
		text-decoration: none;
		padding: 1rem;

		&:hover {
			text-decoration: underline;
		}
	}
}



