.services-container {
	padding: 3rem 0;
	width: 90%;
	margin: 0 auto;
}
.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 3rem;
}

.services-card {
	width: 95%;
	margin: 1rem auto;
	display: flex;
	cursor: pointer;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.258);
	border-radius: 20px;

	img {
		width: 45%;
	}

	p {
		width: 75%;
	}
}

@media screen and (max-width: 576px) {
	.services-card {
		flex-direction: column;
		width: inherit;

		img {
			width: 100%;
			border-radius: 20px 20px 0 0;
		}
	}
	.services-card-text {
		p {
			margin-bottom: 2rem !important;
		}
	}
	.services-container {
		padding: 0rem 0rem;
	
	}
}

.services-card-text {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	h2 {
		font-size: 1.5rem;
		margin: 1rem auto;
	}
	p {
		margin: 1rem auto;
		font-size: 15px;
	}
	.learn-more-container {
		height: 1px;
		width: min-content;
		align-self: center;
	}
}

.img-left-border-radius-20 {
	border-radius: 20px 0 0 20px;
}

.img-right-border-radius-20 {
	border-radius: 0 20px 20px 0;
}

.service-info {
	width: 70%;
	text-align: center;
	margin: auto;
}
@media screen and (min-width: 600px) {
	.services-card:hover {
		/* border: 3px solid transparent; */
		scale: 1.05;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.258);
		transition: 0.5s;
	}
}
