.services-container {
	/* tailwind class'd */
	/* padding: 3rem 0; */
	/* width: 90%;
	margin: 0 auto; */
}

/* This class is not used in services.tsx */
/* .content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 3rem;
} */

.services-card {
	/* tailwind class'd */

	/* width: 95%;
	margin: 1rem auto;
	display: flex;
	cursor: pointer;
	box-shadow: 1px 1px 1px #00000042;
	border-radius: 20px; */

	img {
		/* width: 45%; */
	}

	p {
		/* width: 75%; */
	}
}

.services-card-text {
	/* text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center; */
	h2 {
		/* margin: 1rem auto; */
	}
	p {
		/* margin: 1rem auto; */
		/* font-size: 15px; */
	}

	/* unused in services.tsx */
	/* .learn-more-container {
		height: 1px;
		width: min-content;
		align-self: center;
	} */
}

.img-left-border-radius-20 {
	/* tailwind class'd */

	/* border-radius: 20px 0 0 20px; */
}

.img-right-border-radius-20 {
	/* tailwind class'd */

	/* border-radius: 0 20px 20px 0; */
}

.service-info {
	width: 70%;
	text-align: center;
	margin: auto;
}

.services-page {
	/* completed in commercial */
	/* width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */

	.maintenance-programs-link {
		/* margin: 1rem;
		padding: 0.5rem;
		border: 1px solid black;
		border-radius: 10px; */

		h3 {
			/* font-size: 24px; */
			/* text-wrap: nowrap; */
		}
	}
}

.services-page-content {
	/* completed in commercial */
	/* width: 100%;
	display: flex;
	justify-content: center;
	align-items: start; */
}

.services-page-card-container {
	/* finished in commercial */
	/* width: 55%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
	grid-auto-rows: 300px;
	gap: 2rem;
	margin: 1rem;
	padding: 1rem 2rem; */
	/* Making something a child of this will automatically place children along the grid  */
}

.services-page-card {
	/* display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border-radius: 20px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	text-align: center;
	background-image: url('../images/data-cable-wiring.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; */

	.inner-container {
		/* width: 100%;
		height: 100%;
		top: 0;
		left: 0; */
	}
	/* unused */
	/* .header {
		background-color: #537076;
		width: 100%;
		height: 1rem;
		border-left: 1px solid black;
		border-right: 1px solid black;
		border-top: 1px solid black;
		border-radius: 20px 20px 0px 0px;
	} */

	h3 {
		/* margin-top: 1rem;
		padding: 0rem 1rem; */
	}

	p {
		/* padding: 1rem;
		z-index: 800; */
	}

	/* unused */
	/* .footer {
		background-color: #537076;
		width: 100%;
		height: 1rem;
		border-radius: 0px 0px 20px 20px;
		border-left: 1px solid black;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
	} */
}

@media screen and (min-width: 600px) {
	.services-card:hover {
		/* scale: 1.05;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.258);
		transition: 0.5s; */
	}

	.maintenance-programs-link:hover {
		/* scale: 1.05;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.258);
		transition: 0.5s; */
	}
}

@media screen and (max-width: 576px) {
	.services-card {
		/* flex-direction: column;
		width: 100%; */

		img {
			/* width: 100%;
			border-radius: 20px 20px 0 0; */
		}
	}
	.services-card-text {
		p {
			/* margin-bottom: 2rem !important; */
		}
	}
	.services-container {
		/* padding: 0rem 0rem; */
	}
}
